# 객체란?

메모리에 저장된 자료를 "객체"라고 부른다

In [22]:
# 100이라는 객체(값)을 x라는 변수에 할당했다.
x = 100

In [23]:
x

100

### id() 함수는 괄호 안에 있는 변수의 메모리 주소를 알려준다.

In [25]:
id(x)

1541106944

In [26]:
y = 300

In [27]:
id(y)

2661641682864

In [28]:
x + y

400

In [31]:
z = x + y

In [32]:
print(z)

400

In [62]:
id(z)

2661641680592

In [63]:
x = 3.0

#### type(): 괄호 안에 있는 변수의 데이터 타입을 알려준다.

In [65]:
type(x)

float

In [68]:
type(z)

int

In [69]:
data=0
DATA=10

## 키워드는 할당 불가

In [70]:
and = 10

SyntaxError: invalid syntax (<ipython-input-70-97dbaf47599d>, line 1)

In [71]:
number = 5
score = 90

In [72]:
python_score = 95
_score = 100

In [73]:
mate-score = 90   # syntax 에러. 특수 기호는 _만 가능하다.

SyntaxError: can't assign to operator (<ipython-input-73-caa04dc391e1>, line 1)

## %whos : 모든 객체 알려줌

In [74]:
%whos

Variable       Type     Data/Info
---------------------------------
DATA           int      10
data           int      0
number         int      5
python_score   int      95
score          int      90
x              float    3.0
y              int      300
z              int      400

In [75]:
del(DATA, data)

In [76]:
%whos

Variable       Type     Data/Info
---------------------------------
number         int      5
python_score   int      95
score          int      90
x              float    3.0
y              int      300
z              int      400

In [77]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [78]:
%whos

Interactive namespace is empty.

In [80]:
x = 3 + 5j

In [81]:
type(x)

complex

# 불린형

In [82]:
a = True
b = False

In [83]:
type(a)

bool

In [84]:
x=1
y=2

In [85]:
x > y

False

In [86]:
name = '김건희'

In [87]:
type(name)

str

In [88]:
name = '계승환'
phone = '010-5313-4239'
address = """Seoul"""

In [89]:
name[0]

'계'

</hr>

# 산술 연산자

In [92]:
2 ** 10

1024

In [94]:
30 / 7

4.285714285714286

In [95]:
30 // 7

4

In [96]:
30 % 7

2

In [97]:
a = 10
b = 5
c = 22
d = 3

In [98]:
a += b
print(a)

15

In [99]:
a **= d
print(a)

3375

In [100]:
a /= d
print(a)

1125.0

In [101]:
2.5e-4

0.00025

In [102]:
.2 + .1

0.30000000000000004

In [103]:
x = 5 + 10j

In [104]:
x.real

5.0

In [105]:
a = int(5.6)
b = int(-2.9)
c = int('15')
print(a, b, c)

5 -2 15

In [106]:
print(float(3), float(15.5), float('22.4'))

3.0 15.5 22.4

In [107]:
divmod(30,7)

(4, 2)

In [109]:
pow(2,8)

256

In [110]:
abs(-33)

33

In [111]:
import math as m

In [112]:
m.fabs(-3)

3.0

In [113]:
m.pow(2,5)

32.0

In [115]:
m.sqrt(16)

4.0