P10 리스트, 튜플
==========

## 1. list(리스트)
## 2. tuple(튜플)
## 3. set (집합)
## 4. dic (사전)

1. list(리스트)
--------

In [10]:
score = [50, 60, 70, 80, 90, 100, 99, 40]

In [11]:
score

[50, 60, 70, 80, 90, 100, 99, 40]

### 리스트 인덱싱

In [4]:
score[0]

50

In [5]:
score[0:3]

[50, 60, 70]

In [12]:
# mutable
score[0] = 88
score

[88, 60, 70, 80, 90, 100, 99, 40]

In [13]:
score[1:3] = []
score

[88, 80, 90, 100, 99, 40]

In [14]:
score[:]

[88, 80, 90, 100, 99, 40]

In [16]:
score[:-1]

[88, 80, 90, 100, 99]

In [15]:
score[:5]

[88, 80, 90, 100, 99]

In [17]:
score[::]

[88, 80, 90, 100, 99, 40]

### 리스트 연산

In [18]:
철수 = [55, 66]
영희 = [77, 22]
철수 + 영희

[55, 66, 77, 22]

In [19]:
철수 * 2

[55, 66, 55, 66]

In [21]:
66 in 철수

True

In [22]:
len(영희)

2

### 리스트 사용

In [23]:
list5 = [1, 2, 3, 4, 5, 6, 7]
list5.append(100)
list5

[1, 2, 3, 4, 5, 6, 7, 100]

In [24]:
list5.insert(2,200)
list5

[1, 2, 200, 3, 4, 5, 6, 7, 100]

In [25]:
list5.pop()
list5

[1, 2, 200, 3, 4, 5, 6, 7]

In [29]:
list5.pop(2)
list5

[1, 2, 4, 5, 7]

In [33]:
명부 = ['철수', '영희', '건희', '재영', '대현']
명부.remove('건희')
명부

['철수', '영희', '재영', '대현']

In [32]:
명부.clear()
명부

[]

In [34]:
명부 = ['철수', '영희', '건희', '재영', '대현']
명부2 = 명부

In [35]:
명부[2] = '가나다'

In [36]:
명부2

['철수', '영희', '가나다', '재영', '대현']

In [37]:
### 주소가 연결되어 있으므로 수정 영향 받음
명부

['철수', '영희', '가나다', '재영', '대현']

In [38]:
명부.extend(명부2)
명부

['철수', '영희', '가나다', '재영', '대현', '철수', '영희', '가나다', '재영', '대현']

In [39]:
명부 = ['철수', '영희', '건희', '재영', '대현']
명부.sort(reverse=True) # 내림차순 정렬
명부

['철수', '재영', '영희', '대현', '건희']

In [42]:
list55 = [7,234,71,2,3,5,7,3,5,25,346,47,234,235,54,4585,132]
list55.sort()
list55

[2, 3, 3, 5, 5, 7, 7, 25, 47, 54, 71, 132, 234, 234, 235, 346, 4585]

2. tuple(튜플)
----------

immutable  ->  index, count만 가능!