12. for 반복문
============

1. range() 함수
-------------

In [1]:
range(5)

range(0, 5)

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
list(range(3,10,2))

[3, 5, 7, 9]

In [9]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
aaa = list(range(10,20))
aaa

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
b = list(range(3,999,300))
b

[3, 303, 603, 903]

2. for 반복문
-----------

In [16]:
for x in range(5,15,2) :
    print(x)

5
7
9
11
13

In [20]:
names = ['계승환', '한인수', '박한주', '박성은', '황희정', '차예린']
for 이름 in names : 
    print(이름)

계승환
한인수
박한주
박성은
황희정
차예린

In [21]:
for 문자 in "내일 안와도 된다!" :
    print(문자)

내
일

안
와
도

된
다
!

In [22]:
alphabet = "abcdefgh"
for x in alphabet :
    print(x.upper())

A
B
C
D
E
F
G
H

In [24]:
for x in range(1,30,2) :
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [26]:
for dan in range(2, 10) :
    for n in range(1, 10) :
        print(dan*n, end=' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [27]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

In [28]:
score

{1: 95, 2: 80, 3: 92, 4: 90, 5: 88}

In [32]:
for k in score.keys() :
    print(x)

4
2
1
5
3

In [30]:
for x,y in score.items() :
    print(x,y)

4 90
2 80
1 95
5 88
3 92

In [34]:
for k, v in score.items() :
    print("key는", k, end='  ')
    print("value는", v, end='')
    print()

key는 4  value는 90
key는 2  value는 80
key는 1  value는 95
key는 5  value는 88
key는 3  value는 92

In [40]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]